@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    
}

.login-title{
    text-align: center;
}
.form-field {
    width: 100%;
}